<div class="page-info">New Rating</div>

<%= form_with model: @rating, local: true, html: { class: 'new-rating-form' } do |f| %>
  <div class="form-group">
    <%= f.label :rating_name, "評価項目" %>
    <%= f.text_field :rating_name, class: "form-control" %>
  </div>

  <!-- 他の入力フィールドをここに追加することができます -->

  <div class="actions">
    <%= f.submit "Create Rating", class: "btn-submit" %>
  </div>
<% end %>