<div class="main_container">
  <main class="main-content">
    <!-- メインコンテンツの内容 --> 
    <div class="titlebar">
      <div class="page-info">みんなの投稿</div> 

      <%# 検索バー %>
      <%= render partial: 'searchbar' %>

    </div>

    <%# ポスト一覧 %>
    <%= render partial: 'posts',locals:{ posts:@posts} %>

  </main>
  <%= link_to(new_post_path, class: 'post-btn') do %>
    <span class='post-btn-text'>新規投稿</span>
    <%= image_tag 'icon_camera.png', size: '185x50', class: "post-btn-icon" %>
  <% end %>
</div>
