#store_previews {
  display: flex;
}

.store_preview {
  margin-right: 30px;
}

.store_preview-image{
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.food_preview-image{
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.post-form {
  background-color: #ffffff; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  max-width: 800px;
  margin:0 auto;
  
}

.post-form__title {
  font-size: 1.5em; 
  margin-bottom: 15px; 
}

.post-form__field {
  margin-bottom: 15px; 
  align-items:center;
}

.post-form__label {
  display: block; 
  font-weight: bold; 
  color: #333;
  white-space: nowrap;
}

.post-form__input,
.post-form__textarea{
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  font-size: 1em; 
}

.post-form__select{
  font-size:1em;
  padding:10px;
  border:1px solid #ccc;
  border-radius:4px;

}


/*  評価関連 */

#post_rating_id_1,
#post_rating_id_2,
#post_rating_id_3{
  padding:3px;
  border: 1px solid #ccc;
  font-size:1em;
}



.post-form__textarea {
  resize: vertical; 
}

.post-form__submit {
  background-color: #28a745; 
  color: white; 
  border: none; 
  padding: 10px 15px; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 1em; 
}

.post-form__submit:hover {
  background-color: #218838; 
}

.food_image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  width:100px;
}
.food_preview{
  width:100px;
  margin:20px;
}
#food_previews{
  display:flex;
  flex-wrap: wrap;

}

.post-form__image-area label {
  display: block; 
  margin-bottom: 5px; 
  font-weight: bold; 
  color: #333; 
  font-family: Arial, sans-serif; 
}

.post-form__image-area{
  margin-bottom: 10px;
}


.rating_new_link {
  margin-top: 30px;

}

.rating_new_link:hover {
  text-decoration: underline;
}


.form__title{
text-align: center;
margin-top:10px;
font-size: 1.6em;
}
