.main_container {
  display: flex; /* フレックスボックスを使用して横並びにする */
}

.sidebar {
  width: 200px; /* サイドバーの幅 */
  background-color: #f4f4f4; /* サイドバーの背景色 */
  padding: 15px; /* サイドバーの内側の余白 */
}

.main-content {
  flex-grow: 1; /* メインコンテンツエリアが残りのスペースを占有 */
  padding: 15px; /* メインコンテンツの内側の余白 */
  height:100%;
}

.page-info{
  font-size: 30px;
  display:inline-block;
  border: 5px solid rgb(223, 131, 11);
  border-radius: 5%;
  padding: 10px; /* 適切な数値を設定 */
  margin: 5px 30px;
  text-align: center; /* テキストを中央揃えにする */
  height: fit-content;
}


.titlebar{
  display: flex;
  justify-content: space-between;
}

.searchbar{
  margin-bottom:10px;
}

.score{
  color:orange;
}

.searchbar .btn{
  display:inline-block;
  width:40px;
  cursor: pointer;
}

.submit-container {
  display: flex;
  justify-content: center; 
  width:100%;
}

.searchbar_header {
  text-align: center; 
  font-size: 18px; 
}

.searchbar{
  border:1px solid #a7aaaa;
  padding:5px 10px;
  border-radius: 4px;
}

