/* 新規投稿 */

.post-btn {
  width: 100px;
  height:100px;
  background: #f09116;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.post-btn-text {
  color: #fff;
  display: block;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 5px;
}

.post-btn-icon {
  width: 60%;
  height:60%;
}

