/* 全体のスタイル */
.show_main_container {
  max-width: 800px; /* コンテンツの最大幅 */
  margin: 0 auto; /* 中央揃え */
  padding: 20px; /* 内側の余白 */
  background-color: #f9f9f9; /* 背景色 */
  border-radius: 8px; /* 角を丸める */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* シャドウ */
}

.show-post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #a7aaaa;;
}

.show-user-profile {
  object-fit:cover;
  width:40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.show-post-info {
  display: flex;
  flex-direction: column;
}

.show-usernames {
  display: flex; /* ユーザーネームとアカウントネームを横並びに */
  align-items: center; /* 縦方向の中央揃え */
}

.show-username {
  font-size: 16px;
  margin-right: 8px; /* アカウントネームとの間にスペース */
}

.show-account-name {
  color: #657786;
  font-size: 14px;
  margin-right: 8px; 
}

.show-post-date {
  color: #657786;
  font-size: 12px;
}

/* 店舗画像のスタイル */
.show-store_image {
  text-align: center; /* 中央揃え */
  margin-bottom: 20px; /* 下の余白 */
}

.show-store_image img {
  max-width: 100%; /* 画像の最大幅を100%に */
  height: auto; /* 高さを自動調整 */
  border-radius: 8px; /* 角を丸める */
}

/* 店名のスタイル */
h2 {
  font-size: 24px; /* フォントサイズ */
  margin-bottom: 10px; /* 下の余白 */
}

/* 評価エリアのスタイル */
.rating_area {
  display: flex; /* フレックスボックスで左右に並べる */
  justify-content: space-between; /* スペースを均等に */
  margin-bottom: 20px; /* 下の余白 */
}

.left_area {
  flex: 1; /* 左側をフレックスアイテムとして伸ばす */
  margin-right: 20px; /* 右側との余白 */
  margin-left: 30px;
}

.right_area {
  flex: 1; /* 右側をフレックスアイテムとして伸ばす */
  margin-right:30px;
}

/* 評価のスタイル */
.show-rating {
  margin-bottom: 10px; /* 下の余白 */
}

.show-rating-name {
  font-weight: bold; /* 太字 */
  color: #333; /* 色 */
}

.show-score-name {
  color: #ffcc00; /* 星の色 */
  font-size: 18px; /* フォントサイズ */
}

/* メモのスタイル */
.right_area p {
  background-color: #eef; /* メモの背景色 */
  padding: 10px; /* 内側の余白 */
  border-radius: 4px; /* 角を丸める */
  height:100%;
}

/* 食品画像のスタイル */
.show-food_images {
  display: flex; /* フレックスボックス */
  gap: 10px; /* アイテム間の隙間 */
}

/* Googleマップのスタイル */
.show-google_map {
  margin-top: 20px; /* 上の余白 */
  height: 300px; /* 高さを固定 */
  background-color: #ddd; /* 背景色（地図が表示される場所） */
}

/* 都道府県のスタイル */
.show-prefecture {
  margin-top: 20px; /* 上の余白 */
  font-size: 16px; /* フォントサイズ */
  color: #666; /* 色 */
}

.show-food_images{
  max-height: 300px; /* 画像の最大高さを100pxに制限 */
  display: inline-block; /* 画像をインラインブロック要素として表示 */
}

.other-images{
  overflow-x: auto; /* 横方向にオーバーフローが発生した場合、スクロールバーを表示 */
  white-space: nowrap; /* 画像を横に並べるために必要 */
  cursor: grab; /* マウスカーソルを変更 */

}

.post-show-score{
  font-size: 30px;
}

.gallery{
  font-weight: bold;
  padding-bottom: 2px;
}


.under_line{
  font-weight: bold;
  border-bottom:6px dashed #e69500;
  margin-bottom: 4px;
}

.over_line{
  font-weight: bold;
  border-top:6px dashed #e69500;
  margin-top: 4px;
}

