.sidebar {
  background-color: #f8f9fa; /* 背景色 */
  border: 1px solid #ddd;    /* 境界線 */
  padding: 20px;             /* 内側の余白 */
  border-radius: 8px;        /* 角を丸く */
  width: 200px;              /* 幅の設定 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* シャドウ効果 */
  position: fixed;           /* 固定する */
  bottom: 180px;                 /* 上からの位置 */
  right: 20px;                /* 左からの位置 */
  z-index:2;
  display: none;
}

.sidebar label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}


.sidebar select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: #fff;
  box-sizing: border-box;
}


.sidebar .btn {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.sidebar .btn:hover {
  background-color: #0056b3;
}
