/* リセットスタイル */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none; 
  color: inherit; 
  outline: none; 
}

a:active {
  color: darken(color, 10%); 
}


/* ボディ */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

/* ヘッダー */
header {
  background-color: #f7b162;
  padding: 15px 70px;
}

.header__bar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.header .logo {
  font-size: 20px;
}

.header a {
  text-decoration: none; 
  color: white; 
}

.user_nav {
  display: flex;
  align-items: center; 
}

.name-and-image {
  display: flex;
  align-items: center;
  margin-right: 20px; 
  position: relative;
  width:172px;
  color:white;
}



header.header .user_nav span{
  margin-left:10px;
  display: block;
  position: relative;
  cursor: pointer;
}

header.header .user_nav span:after {
  content: '▼';
  font-size: .7em;
  margin-left: -4px;
  position: absolute;
  left:100%;
  top:50%;
  transform: translateY(-50%);  
}

header.header .user_nav span:hover ul {
  color: #eeac76;
  display: block;
  position:absolute;
  top: 35px;
  left: 0px;
  z-index: 2;
}

header.header .user_nav ul {
  display: none;
  position: absolute;
  top: 46px;
  right: 0;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  
}

header.header .user_nav ul li {
  background-color: #f0f0f0;
  width: 130px;
}

header.header .user_nav ul li a {
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #d8d8d8;
  color:#333;
  display: block;
}

header.header .user_nav ul li a:hover {
  text-decoration:underline;
}

.avatar {
    object-fit:cover;
    width:40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

.user__info {
  list-style: none; 
}



.post {
  background-color: #f09116; 
  color: white; 
  border: 2px solid #fdfdfd; 
  padding: 10px 15px; 
  border-radius: 5px; 
  text-decoration: none; 
}

.post:hover {
  background-color: #ff6f61; 
  color: white; 
}

/* フッター */
footer {
  text-align: center; 
  padding: 20px 0; 
  background-color: #f7b162; 
  color: white; 
}

.image-container{
  width: 300px;     
  height: 300px;       
}

/* エラーメッセージ全体のスタイル */
.error-alert {
  background-color: #f8d7da;  /* 明るい赤色 */
  color: #721c24;  /* ダークな赤色のテキスト */
  border: 1px solid #f5c6cb;  /* 薄い赤色の境界線 */
  padding: 15px;  /* 内側の余白 */
  border-radius: 5px;  /* 角を丸くする */
  margin-bottom: 20px;  /* 下部に余白を追加 */
  font-family: Arial, sans-serif;  /* フォントの設定 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* 軽いシャドウを追加 */
}

/* 各エラーメッセージのリスト項目のスタイル */
.error-message {
  list-style-type: none;  /* 項目番号を非表示 */
  font-size: 14px;  /* フォントサイズの設定 */
  line-height: 1.5;  /* 行間の設定 */
  margin: 5px 0;  /* 各メッセージの上下の間隔を調整 */
}