/* リセットスタイル */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none; 
  color: inherit; 
  outline: none; 
}

a:active {
  color: darken(color, 10%); 
}


/* ボディ */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

/* ヘッダー */
header {
  background-color: #f7b162; /* ヘッダーの背景色 */
  padding: 15px 70px; /* ヘッダー内の余白 */
}

.header__bar {
  display: flex;
  justify-content: space-between; /* ヘッダーの左右を均等に配置 */
  align-items: center; /* 縦中央に配置 */
}

.header .logo {
  font-size: 20px;
}

.header a {
  text-decoration: none; /* リンクの下線を消す */
  color: white; /* リンクの文字色 */
}

.user_nav {
  display: flex;
  align-items: center; /* 縦中央に配置 */
}

.name-and-image {
  display: flex;
  align-items: center; /* 縦中央に配置 */
  margin-right: 20px; /* 名前と画像の間隔 */
  position: relative;
  width:172px;
  color:white;
}



header.header .user_nav span{
  margin-left:10px;
  display: block;
  position: relative;
  cursor: pointer;
}

header.header .user_nav span:after {
  content: '▼';
  font-size: .7em;
  margin-left: -4px;
  position: absolute;
  left:100%;
  top:50%;
  transform: translateY(-50%);  
}

header.header .user_nav span:hover ul {
  color: #eeac76;
  display: block;
  position:absolute;
  top: 35px;
  left: 0px;
  z-index: 2;
}

header.header .user_nav ul {
  display: none;
  position: absolute;
  top: 46px;
  right: 0;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  
}

header.header .user_nav ul li {
  background-color: #f0f0f0;
  width: 130px;
  

}

header.header .user_nav ul li a {
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #d8d8d8;
  color:#333;
  display: block;
}

.avatar {
  width: 40px; /* アバターの幅 */
  height: 40px; /* アバターの高さ */
  border-radius: 50%; /* 丸い形にする */
  margin-right: 10px; /* アバターと名前の間隔 */
}

.user__info {
  list-style: none; /* リストのスタイルを消す */
}



.post {
  background-color: #f09116; /* ボタンの背景色 */
  color: white; /* ボタンの文字色 */
  border: 2px solid #fdfdfd; /* ボタンのボーダー色 */
  padding: 10px 15px; /* ボタン内の余白 */
  border-radius: 5px; /* ボタンの角を丸くする */
  text-decoration: none; /* ボタンの下線を消す */
}

.post:hover {
  background-color: #ff6f61; /* ホバー時の背景色 */
  color: white; /* ホバー時の文字色 */
}

/* フッター */
footer {
  text-align: center; /* フッター内のテキストを中央揃え */
  padding: 20px 0; /* フッターの上下の余白 */
  background-color: #f7b162; /* フッターの背景色 */
  color: white; /* フッターの文字色 */
}

.image-container{
  width: 300px;          /* コンテナの幅 */
  height: 300px;         /* コンテナの高さ */
  overflow: hidden;      /* はみ出した部分を隠す */
  position: relative;
}









